:root{  /*palette de couleur*/
    --color-blanc: white;
    --color-font :  #1C1B19;
    --color-text1: #F6F3EC;
    --color-text2: #3FA77E;
    --color-text3: #e9a20a;
    --color-text3a: #ffae00;
    --color-text4: #E2604F;
    --color-text4a: #ff1e00;
    --color-contour:#4e4c49;
    --color-bordure: #E0DACB;
    --color-font1: #2A2924;
    --color-font2: #424139;
}

 *{ outline: 1px solid red;} 

*{
    font-family: "Lora", serif;
}

nav{
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 3rem;
    background-color: var(--color-font);
    padding-bottom: 2rem;
    padding-top: 0.9rem;
    margin-left: -0.5rem;
    margin-right: -0.5rem;
    margin-top: -0.5rem;
}
.menu{
    color: var(--color-text1);
    text-decoration: none;
    font-size: 13px;
    font-weight: bold;
}
.menu:hover{
    color: var(--color-text3);
}
#boutonTheme{
    border-radius: 100%;
    margin-left: 1rem;
    height: 2rem;
    width: 2.5%;
}
#paraPresen,#form1,#form2,#form3,#lang1,#lang2,#lang3,#titrcentr1,#titrcentr2,#titrcentr3, #titrcentr4,#titrcentr5, #titrcentr6,
#softSkills, #exp1,#exp2,#exp3{
    background-color: var(--color-font1);
}
.verscolor{
    color: var(--color-blanc);
}
#infoPerso{
    display: grid;
    grid-template-columns: 20% 80%;
    background-color: var(--color-font);
    margin-left: -0.48rem;
    margin-right: -0.48rem;
    padding-bottom: 4rem;
}
.titr{
    color: var(--color-text3);
}
.coord{
    color: var(--color-text4);
}
#nomComplet, #objectifPro{
    color: var(--color-text1);
}
.skill_info{
    color: var(--color-blanc);
}
.coor{
    color: var(--color-text1);
    border: 1px solid var(--color-contour);
    border-radius: 12rem;
    padding-left: 0.3rem;
    padding-right: 0.4rem;
    padding-top: -0.9rem;
}
#pto_profil{
    width: 65%;
    border-radius: 100%;
    margin-top: 2.5rem;
    margin-left: 3rem;
    border: 1.5px solid var(--color-text2);
    box-shadow: 1px 1px 20px var(--color-text2);
}
#add{
    text-decoration: none;
    border: 1px solid var(--color-contour);
    border-radius: 12rem;
    padding-bottom: 0.9rem;
}
#coordonnees{
    display: flex;
    flex-direction: row;
    gap: 2rem;
}
main{
    background-color: var(--color-font2);
    margin-left: -0.5rem;
    margin-right: -0.5rem;
    margin-top: -1.5rem;
    margin-bottom: -1.5rem;
    padding-bottom: 3rem;
    padding-top: 1rem;
    padding-left: 1rem;
    padding-right: 1rem;
}
#paraPresen{
    display: flex;
    flex-direction: row;
    border-radius: 2rem;
    padding: 3rem;
    width: 65%;
    margin-left: 3rem;
    background-color: var(--color-font);
    color: var(--color-blanc);
    transition-duration: 0.4s;
    transition-property: all;
    transition-timing-function: ease;
}
#paraPresen:hover{
    padding: 4rem;
    transition-duration: 0.4s;
    transition-property: all;
    transition-timing-function: ease;
}
#form1, #form2, #form3{
    background-color: var(--color-font);
    color: var(--color-blanc);
    border-radius: 1rem;
    padding: 0.5rem;
    width: 57%;
    transition-duration: 0.4s;
    transition-property: all;
    transition-timing-function: ease;
}
#form1:hover{
    padding: 1rem;
    transition-duration: 0.4s;
    transition-property: all;
    transition-timing-function: ease;
}
#form2:hover{
    padding: 1rem;
    transition-duration: 0.4s;
    transition-property: all;
    transition-timing-function: ease;
}
#form3:hover{
    padding: 1rem;
    transition-duration: 0.4s;
    transition-property: all;
    transition-timing-function: ease;
}
.annee{
    font-size: 75%;
}
#formation{
    margin-left: 0.1rem;
}
#secondAnnee{
    color: var(--color-text2);
}
#premiereAnnee{
    color: var(--color-text3);
}
#bacAnnee{
    color: var(--color-text4);
}
#Skills{
    display: grid;
    grid-template-columns: 80% 17%;
    gap: 2rem;
}
#hardSkills{
    margin-left: -1rem;
}
#softSkills{
    text-align: center;
    background-color: var(--color-font);
    color: var(--color-text1);
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    border-radius: 1.5rem;
    margin-left: -1rem;
    transition-duration: 0.4s;
    transition-property: all;
    transition-timing-function: ease;
}
#softSkills:hover{
    margin: -0.7rem;
    transition-duration: 0.4s;
    transition-property: all;
    transition-timing-function: ease;
}
#sSkills:hover{
    font-size: 12px;
}
.skill_info {
    display: flex;
    justify-content: space-between;
    font-weight: bold;
    margin-bottom: 8px;
}
.progress_bar_container {
    width: 100%; 
    height: 12px;
    background-color: var(--color-blanc);
    border-radius: 6px;
}
.progress_bar {
    height: 100%;
    border-radius: 6px;
    width: 0%; 
    transition: width 1s ease-in-out; /* Animation pour la tâche JavaScript */
}
#barbure, #barc{
    background-color: var(--color-text2);
}
#barhtml, #barinf, #barcss{
    background-color: var(--color-text3a);
}
#barjs, #barsql{
    background-color: var(--color-text4a);
}
#sSkills {
    font-size: 1rem;
    line-height: 2.2;
    color:var(--color-text1);
}
/* test (Remplissage exact de tes 7 barres) */
/*.skills-list li:nth-child(1) .progress_bar {
    width: 85%; }
.skills-list li:nth-child(2) .progress_bar {
    width: 80%; } 
.skills-list li:nth-child(3) .progress_bar {
    width: 75%; } 
.skills-list li:nth-child(4) .progress_bar {
    width: 75%; }
.skills-list li:nth-child(5) .progress_bar {
    width: 70%; } 
.skills-list li:nth-child(6) .progress_bar {
    width: 55%; } 
.skills-list li:nth-child(7) .progress_bar {
    width: 45%; } */
#lesExp{
    display: grid;
    grid-template-columns: 32% 32% 32%;
    gap: 1rem;
}
#periode1{
    color: var(--color-text2);
}
#periode2{
    color: var(--color-text3);
}
#periode3{
    color: var(--color-text4);
}
#exp1, #exp2, #exp3{
    background-color: var(--color-font);
    padding: 0.2rem;
    border-radius: 1rem;
    color: var(--color-blanc);
    transition-duration: 0.4s;
    transition-property: all;
    transition-timing-function: ease;
}
#exp1:hover{
    padding: 3rem;
    transition-duration: 0.4s;
    transition-property: all;
    transition-timing-function: ease;
}
#exp2:hover{
    padding: 3rem;
    transition-duration: 0.4s;
    transition-property: all;
    transition-timing-function: ease;
}
#exp3:hover{
    padding: 3rem;
    transition-duration: 0.4s;
    transition-property: all;
    transition-timing-function: ease;
}

#exp1{
    box-shadow: 0px 4px 1px var(--color-text2);
}
#exp2{
    box-shadow: 0px 4px 1px var(--color-text3);
}
#exp3{
    box-shadow: 0px 4px 1px var(--color-text4);
}
#exp1, #exp2, #exp3{
    padding: 1rem;
}
#bloclang{
    display: flex;
    justify-content: space-around;
}
#lang1, #lang2, #lang3{
    background-color: var(--color-font);
    color: var(--color-blanc);
    border-radius: 1rem;
    padding-left: 3rem;
    padding-right: 2rem;
    padding-top: 1rem;
    padding-bottom: 2rem;
    transition-duration: 0.4s;
    transition-property: all;
    transition-timing-function: ease;
}
#lang1:hover{
    padding: 3rem;
    transition-duration: 0.4s;
    transition-property: all;
    transition-timing-function: ease;
}
#lang2:hover{
    padding: 3rem;
    transition-duration: 0.4s;
    transition-property: all;
    transition-timing-function: ease;
}
#lang3:hover{
    padding: 3rem;
    transition-duration: 0.4s;
    transition-property: all;
    transition-timing-function: ease;
}
#niveau1, #niveau2{
    color: var(--color-text2);
    font-size: 75%;
}
#niveau3{
    color: var(--color-text3);
    font-size: 75%;
}
.pastilles{
    display: flex;
    gap: 6px;
    margin-top: 1rem;
    margin-left: 12rem;
}
.pastille{
    background-color: var(--color-contour);
    height: 12px;
    width: 12px;
    border-radius: 12rem;
}
#pas1, #pas2, #pas3, #pas4{
    background-color: var(--color-text2);
}
#pas5, #pas6, #pas7{
    background-color: var(--color-text2);
}
#pas11, #pas12, #pas13{
    background-color: var(--color-text3);
}
#projetReal{
    background-color: var(--color-font);
    color: var(--color-text1);
    border-radius: 1rem;
    padding: 2rem;
}
#dernier{
    font-style: italic;
}
#centre_interetTot{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
#titrcentr1, #titrcentr2, #titrcentr3, #titrcentr4, #titrcentr5, #titrcentr6{
    background-color: var(--color-font);
    color: var(--color-blanc);
    border-radius: 12rem;
    padding: 0.8rem;
}
#formulaire{
    display: flex;
    flex-direction: column;
    justify-self: center;
}
#formulaire-contact{
    display: flex;
    flex-direction: column;
    width: 100%;
}
#submit{
    background-color: var(--color-font);
    color: var(--color-text1);
    font-weight: bold;
    border: 1px solid var(--color-font2);
}
.case{
    border-radius: 1rem;
    padding: 0.7rem;
    border: 0.5px solid var(--color-bordure);
}
footer{
    margin-left: -0.5rem;
    margin-right: -0.5rem;
    margin-bottom: -1rem;
    padding-top: 0.5rem;
    padding-bottom: 1rem;
    text-align: center;
    background-color: var(--color-font);
    color: var(--color-text1);
}
.imageVers{
    width: 3%;
    border-radius: 100%;
}
#youtube, #tiktok{
    border: 1px solid var(--color-text1);
}
#boutonHaut{
    background-color: var(--color-blanc);
    border-radius: 5rem;
    width: 2%;
    position: fixed;
    bottom: 4%;
    right: 4%;
    height: 4.5%;
}
#hamburgerBtn{
    display: none;
}

/* la partie ci-dessous, traite le theme clair car j'ai déjà fait la partie sombre ci-dessus */

body.themeClair :is(#menu_inter, #infoPerso,footer,#projetReal,#submit,.kills)
{
    background-color: var(--color-bordure);
}
body.themeClair :is(main){
    background-color: var(--color-text1);
}
body.themeClair :is(.menu, #nomComplet, #add, #vill, #tel, #objectifPro, #sSkills, .nomfooter, .prog, #submit, #paraPresen, #form1,#form2, #form3, #lang1, #lang2, #lang3, #titrcentr1, #titrcentr2, #titrcentr3, #titrcentr4, #titrcentr5, #titrcentr6, #softSkills, #exp1,body.themeClair #exp2,#exp3,  #titrabout,  #titrFormation,  #titrCompetence, #titrexperience, #titrprojet, #titrlangues, #titrcentreInteret,
#libre,  #caseMes,  #caseNom, #caseEmail, .skill_info)
{
    color: var(--color-font);
}
body.themeClair :is(#add, #vill, #tel, #paraPresen, #form1, #form2, #form3, #lang1, #lang2, #lang3, #titrcentr1, #titrcentr2, #titrcentr3, #titrcentr4, #titrcentr5, #titrcentr6,
 #softSkills, #exp1, #exp2, #exp3)
{
    background-color: var(--color-blanc);
}
body.themeClair :is(#boutonTheme)
{
    background-color: var(--color-font);
}
body.themeClair :is(#add, #vill,#tel)
{
    border: 1px solid var(--color-bordure);
}
body.themeClair :is(.titr){
    color: var(--color-text3a);
}
body.themeClair :is(.coord){
    color: var(--color-text4a);
    font-weight: bold;
}
body.themeClair .menu:hover{
    color: var(--color-text3a);
}
body.themeClair :is(.bordure){
    border: 1px solid var(--color-bordure);
}
body.themeClair :is(#submit){
    border: 1px solid var(--color-bordure);
}
body.themeClair :is(.progress_bar_container){
    background-color: var(--color-font1);
}

/* ce code ci-dessous, traite la responsivité au mobile */
@media (max-width: 600px){
    #bloclang{
        display: grid;
        grid-template-columns: 30% 30% 30%;
        gap: 1rem;
    }
    #lesExp{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    }
    .coord{
        margin-left: 1rem;
    }
    #Skills{
        display: flex;
        flex-direction: column;
        gap: 2rem;
    }
    #infoPerso{
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    #pto_profil{
        width: 50%;
    }
    #add, #vill, #tel{
        font-size: 11px;
    }
    #nomComplet, #objectifPro{
        text-align: center;
    }
    #paraPresen{
        width: 80%;
        margin-left: 0rem;
    }
    #premierpart{
        display: grid;
        grid-template-columns: 22% 60% 18%;
    }
    #form1, #form2, #form3{
        width: 95%;
    }
    #projetReal{
        background-color: var(--color-font);
        color: var(--color-text1);
        border-radius: 1rem;
        padding: 0.5rem;
    }
    #centre_interetTot{
        display: grid;
        grid-template-columns: 50% 50%;
        gap: 0.7rem;
    }
    #hardSkills{
        margin-left: -1rem;
    }
    #softSkills{
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        margin-left: 0rem;
    }
    .pastilles{
        display: flex;
        gap: 0.1rem;
        margin-top: 1rem;
        margin-left: 0rem;
    }
    #lang1, #lang2, #lang3{
        display: flex;
        flex-direction: column;
        

    }
    #niveau1, #niveau2, #niveau3{
        font-size: 11px;
    }
    #lang1, #lang2, #lang3{
        padding-left: 3rem;
        padding-right: 2rem;
        padding-top: 0rem;
        padding-bottom: 1rem;
    }
    nav{
        display: flex;
        flex-direction: column;
        gap: 1rem;
    }
    #hamburgerBtn{
        display: flex;
    }
    .hamburger-btn span{
        width: 100%;
        height: 3px;
        background-color: var(--color-font);
    }
    #menu_inter{
        position: fixed;
        top: 0;
        left: 0;
        gap: 0;
        width: 70%;
        max-width: 280px;
        height: 35%;
        padding-left: 1rem;
        padding-right: 3rem;
        transform: translateX(-100%);
        transition: transform 0.3s ease-in-out;
    }
    #menu_inter .menu{
        width: 100%;
        padding-top: 1rem;
        border-bottom: 1px solid rgba(255, 255, 255, 0.08);
    }
    /* Cette classe, ajoutée par le JS, fait glisser le menu pour l'afficher */
    #menu_inter.active{
            transform: translateX(0);
    }
    #boutonTheme{
        width: 11%;
    }
    #boutonHaut{
        width: 7%;
        height: 3.2%;
    }
}